/*GAME BOARD*/

.gameBoard {
	text-align: center;
	/*border-style: 
	border-image-source: url(../images/wall_2.png);
	border-image-width: 30px;
	border-image-repeat: none;
	border-image-slice: 30px;*/
	/*border-style: solid;
	border-color: red;*/
	/*max-width: 780px;*/
	margin: auto;
}

.row {
	margin: 0;
	font-size: 0;
}

.gameSquare {
	background-color: black;
	width: 30px;
	height: 30px;
	display: inline-block;
	/*margin: 3px 5px;*/
/*	border-style: solid;
	border-color: white;
	border-width: 1px;*/
}

.pacman {
	background-image: url('../images/mario.gif');
	background-repeat: none;
	background-position: center;
	background-size: 100%;
}


.wall {
	background-image: url('../images/wall_2.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}

.dot {
	background-image: url('../images/coin.gif');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 30%;
}

.fruit {
	background-image: url('../images/mushroom.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 75%;
}

.ghost {
	background-image: url('../images/ghost.gif');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 90%;
}

.bowser {
	background-image: url('../images/bowser.gif');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 90%;
}

.peach {
	background-image: url('../images/peach.gif');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 90%;
}

.fire {
	background-image: url('../images/fire.gif');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}

.bones {
	background-image: url('../images/bones.gif');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 90%;
}

.warpOne {
	background-image: url('../images/warpOne.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}

.warpTwo {
	background-image: url('../images/warpTwo.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}

.warpThree {
	background-image: url('../images/warpThree.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
}
